//colors
$white-01: #fef6f6;

$black-01: #181818;
$black-02: #272727;

$gray-01: #b3b1b1;
$gray-02: #AFAEAE;
$gray-03: #8e8181;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
    tv: 1920px,
);