@import '../../../assets/scss/general';

p {
    margin: 0;
}

button {
    background-color: $gray-02;
    box-shadow: -2px -2px #e0dede, -2px 0 #e0dede, 0 -2px #e0dede, -4px -4px white, -4px 0 white, 0 -4px white, 2px 2px #818181, 0 2px #818181, 2px 0 #818181, 2px -2px #e0dede, -2px 2px #818181, -4px 2px white, -4px 4px black, 4px 4px black, 4px 0 black, 0 4px black, 2px -4px white, 4px -4px black;
    font-size: 0.8rem;
    font-weight: 600;
    font-family: "Arial Black", sans-serif;
    padding: 2px 0;
    
    &:active {
        @include box-shadow;
        text-shadow: 1px 1px #222;
        cursor: progress;
    }

    &:focus {
        outline: 1px dotted #000;
        outline-offset: -4px;
    }

    &:disabled {
        text-shadow: 1px 1px 0 #fff;
        color: grey;
    }
}