@import '../../../assets/scss/general';

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600;

    @include media-breakpoint-down(sm) {
        font-size: 2rem;
    }
}

span {
    font-size: 2rem;

    @include media-breakpoint-down(sm) {
        font-size: 1.5rem;
    }
}

input {
    outline: none;
    box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
    color: black;
    font-size: 1.125rem;
    background: #fff;
}