@import './../../../assets/scss/general';

.header {
    background: linear-gradient(90deg, navy, #1084d0);
    
    &-text {
        color: #fff;
        font-weight: 700;
        margin: 0;
    }
}

.options {
    box-shadow: 0 2px #808280, 0 4px white;
    position: relative;

    &::before {
        content: '';
        width: 2px;
        height: calc(100% - 1rem);
        position: absolute;
        background: #f2f2f2;
        box-shadow: 1px 1px 0 #818181;
        left: 0.5rem;
        top: 0.5rem;
    }

    &_item {
        color: #4c4848;
        border-radius: 0;
        text-decoration: none;

        &:active {
            @include box-shadow;
            text-shadow: 1px 1px #222;
        }
    }
}