<div class="info-container row gap-3 gap-md-0">
    <div class="col-md-4 col-12 px-2 d-flex flex-column">
        <div class="d-flex d-md-none justify-content-between align-items-center mb-3">
            <h1 class="info-container_content_title">{{ anime?.title ?? 'No title available' }}</h1>
            <a class="link p-2 text-center" (click)="addAnime(anime)">Add to your watched list</a>
        </div>
        <img [src]="anime?.images['jpg'].large_image_url" class="img-fluid" alt="">
        <div class="info-container_detail p-3 d-flex flex-column">
            <div class="alt-titles">
                <h2>Alternative Titles</h2>
                <span class="d-flex gap-2" *ngFor="let titles of anime?.titles">
                    <span>{{ titles.type }}:</span>
                    <p>{{ titles.title }}</p>
                </span>
            </div>
            <hr>
            <div class="info">
                <h3>Information</h3>
                <span class="d-flex gap-2">Type: 
                    <p>{{ anime?.type ?? 'Not found' }}</p>
                </span>
                <span class="d-flex gap-2">Episodes:
                    <p>{{ anime?.episodes ?? 'Not found' }}</p>
                </span>
                <span class="d-flex gap-2">Status: 
                    <p>{{ anime?.status ?? 'Not found' }}</p>
                </span>
                <span class="d-flex gap-2">Aired:
                    <p>{{ anime?.aired.string ?? 'Not found' }}</p>
                </span>
                <span class="d-flex gap-2">Producers: 
                    <p>{{ anime?.producers[0]?.name ?? 'Not found' }}</p>
                </span>
                <span class="d-flex gap-2">Licensors:
                    <div class="d-flex flex-column">
                        <p *ngFor="let licensor of anime?.licensors"> {{ licensor.name }} </p>
                        <p *ngIf="!anime?.licensors.length"> Not found </p>
                    </div>
                </span>
                <span class="d-flex gap-2">Source:
                    <p>{{ anime?.source ?? 'Not found' }}</p>
                </span>
                <span class="d-flex gap-2">Genres:
                    <div class="d-flex flex-column">
                        <p *ngFor="let genre of anime?.genres">{{ genre.name }}</p>
                        <p *ngIf="!anime?.genres.length"> Not found </p>
                    </div>
                </span>
                <span class="d-flex gap-2">Themes:
                    <div class="d-flex flex-column">
                        <p *ngFor="let theme of anime?.themes">{{ theme.name }}</p>
                        <p *ngIf="!anime?.themes.length"> Not found </p>
                    </div>
                </span>
                <span class="d-flex gap-2">Duration:
                    <p>{{ anime?.duration ?? 'Not found' }}</p>
                </span>
                <span class="d-flex gap-2"> Studios:
                    <div class="d-flex flex-column">
                        <p *ngFor="let studio of anime?.studios">{{ studio.name | uppercase }}</p>
                        <p *ngIf="!anime?.studios.length"> Not found </p>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="info-container_content col-md-8 col-12 d-flex flex-column px-2">
        <div class="d-md-flex d-none justify-content-between align-items-start">
            <h1 class="info-container_content_title">{{ anime?.title ?? 'No title available' }}</h1>
            <a class="link mt-2 p-2 text-center" (click)="addAnime(anime)">Add to your watched list</a>
        </div>
        <div class="info-container_content_info-scoring row gx-0 justify-content-around align-items-center py-3">
            <div class="info-container_content_info-scoring_score col-md-3 col-6 d-flex flex-column align-items-center">
                <span> {{ 'score' | uppercase }} </span>
                <span class="info-container_content_info-scoring_score_numbers">{{ anime?.score ?? 0 | number }}</span>
            </div>
            <div class="info-container_content_info-scoring_score col-md-3 col-6 d-flex flex-column align-items-center">
                <span> {{ 'ranked' | uppercase }} </span>
                <span class="info-container_content_info-scoring_score_numbers">#{{ anime?.rank ?? 0 | number }}</span>
            </div>
            <div class="info-container_content_info-scoring_score col-md-3 col-6 d-flex flex-column align-items-center">
                <span> {{ 'popularity' | uppercase }} </span>
                <span class="info-container_content_info-scoring_score_numbers">#{{ anime?.popularity ?? 0 | number }}</span>
            </div>
            <div class="info-container_content_info-scoring_score col-md-3 col-6 d-flex flex-column align-items-center">
                <span> {{ 'members' | uppercase }} </span>
                <span class="info-container_content_info-scoring_score_numbers">{{ anime?.members ?? 0 | number }}</span>
            </div>
        </div>
        <div class="info-container_content_synopsis pt-3">
            <h2>Synopsis</h2>
            <p class="info-container_content_synopsis_description">{{ anime?.synopsis ?? 'No synopsis available' }} </p>
        </div>
        <div class="video pt-3">
            <h3>Trailer</h3>
            <video controls #videoPlayer class="w-100 p-3">
                <source [src]="anime?.trailer.url" type="video/mp4" />
                Browser not supported
            </video>
        </div>
    </div>
</div>


