@import '../../../assets/scss/general';

p, span {
    margin: 0;
}

.info-container {

    .link {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        @include box-shadow-2;

        &:active {
            text-shadow: 1px 1px #222;
            cursor: progress;
            @include box-shadow;
        }

        &:focus {
            outline: 1px dotted #000;
            outline-offset: -4px;
        }
    }

    &_detail {
        @include box-shadow;

        span p {
            color: #000;
            font-weight: 600;
        }
    }

    &_content {

        &_title {
            font-size: 3rem;
            text-transform: uppercase;
        }
        
        &_info-scoring {
            @include box-shadow;
    
            &_score {
                font-size: 1.4rem;
                
                &_numbers {
                    font-size: 1.5rem;
                    font-weight: 600;
                }
            }
        }

        &_synopsis {

            h3 {
                font-size: 1.2rem;
            }

            &_description {
                font-size: 0.9375rem;
                font-weight: 100;
                text-align: justify;
            }
        }
    }
}
