@import '../../../assets/scss/general';

h1 {
    font-weight: 600;
}

.my_anime {
    color: $white-01;

    &-anime {
        box-shadow: inset 2px 2px #fff, 2px 2px #4d4b4b;

        p {
            text-align: justify;
        }
        
        button {
            width: 2rem;
            height: 2rem;
        }
    }
}

.p1 {
    font-weight: 600;
    font-size: 1.5rem;
}

.p2 {
    font-weight: 500;
}