@import './assets/scss/general';

/* width */
::-webkit-scrollbar {
    width: 16px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #e0e0e0;
    @include box-shadow-2;
}

@font-face {
    font-family: 'windowsregular';
    src: url('./assets/fonts/windows_regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/windows_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: 'windowsregular', sans-serif;
}

body {
    background-color: $gray-02 !important;
    height: auto;
    min-width: 21.875rem;
}